@using BookstoreProjectData.Entities
@using Microsoft.AspNetCore.Identity
@inject SignInManager<User> SignInManager
@inject UserManager<User> UserManager

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - BookstoreWebApp</title>
    <link rel="stylesheet" href="~/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/font-awesome.min.css" />
    <link rel="stylesheet" href="~/css/templatemo-style.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/BookstoreWebApp.styles.css" asp-append-version="true" />
</head>
<body>
    <header>
        <nav class="navbar navbar-expand-lg bg-body-tertiary">
            <div class="container-fluid">

                <a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="Index">
                    <img src="~/img/whiteLogoSmall.png" alt="Logo" class="tm-site-logo" width="50" height="50">
                </a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarText" aria-controls="navbarText" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="navbarText">
                    <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="Index">Home</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="" asp-controller="Events" asp-action="Index">Events</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="" asp-controller="Books" asp-action="Index">Books</a>
                        </li>
                        @if (User.IsInRole("Client"))
                        {
                            <li class="nav-item">
                                <a class="nav-link text-dark" asp-area="" asp-controller="Subscription" asp-action="Index">Monthly Picks for You</a>
                            </li>
                        }
                        @if (User.IsInRole("Admin"))
                        {

                            <li class="nav-item">
                                <a class="nav-link text-dark" asp-area="" asp-controller="Authors" asp-action="Index">Authors</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link text-dark" asp-area="" asp-controller="Genres" asp-action="Index">Genres</a>
                            </li> 
                            <li class="nav-item">
                                <a class="nav-link text-dark" asp-area="" asp-controller="Publishers" asp-action="Index">Publishers</a>
                            </li> 

                        }
                    </ul>
                    <span class="navbar-text"> <partial name="_LoginPartial" /> </span>
                </div>
            </div>
        </nav>
    </header>
    
    <header style="display:none">
        <div class="tm-top-header">
            <div class="container">
                <div class="row">
                    <div class="tm-top-header-inner">
                        <div class="tm-logo-container">
                            <a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="Index">
                                <img src="~/img/booklogo.png" alt="Logo" class="tm-site-logo" width="50" height="50">
                            </a>


                            <h1 class="tm-site-name tm-handwriting-font">Pink Sunrise</h1>
                        </div>
                        <div class="mobile-menu-icon">
                            <i class="fa fa-bars"></i>
                        </div>
                        <nav class="tm-nav">
                            <ul class="navbar-nav flex-grow-1">
                                <li class="nav-item">
                                    <a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="Index">Home</a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link text-dark" asp-area="" asp-controller="Events" asp-action="Index">Events</a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link text-dark" asp-area="" asp-controller="Books" asp-action="Index">Books</a>
                                </li>
                            </ul>
                        </nav>
                        <partial name="_LoginPartial" />

                    </div>
                </div>
            </div>
        </div>
    </header>
    
    @if (TempData["SuccessMessage"] != null)
    {
        <div>
            <div class="alert alert-success alert-dismissible fade show">
                @TempData["SuccessMessage"]
                <button type="button" class="btn-close" data-bs-dismiss="alert"></button>
            </div>
        </div>
    }
    @if (TempData["Error"] != null)
    {
        <div>
            <div class="alert alert-danger alert-dismissible fade show">
                @TempData["Error"]
                <button type="button" class="btn-close" data-bs-dismiss="alert"></button>
            </div>
        </div>
    }
    @if (TempData["Success"] != null)
    {
        <div class="alert alert-success">@TempData["Success"]</div>
    }

    @if (!ViewData.ModelState.IsValid)
    {
        <div>
            @foreach (var item in ViewData.ModelState)
            {
                if (item.Value.Errors.Any())
                {
                    <div class="alert alert-danger alert-dismissible fade show">
                        <p>
                            <b>Field:</b>
                            <span class="fst-italic">@item.Key</span>
                        </p>
                        <p>
                            <b>Your value:</b>
                            <span class="fst-italic">@((item.Value == null || item.Value.RawValue == null) ? "<null>" : item.Value.RawValue)</span>
                        </p>
                        <p>
                            <b>Error:</b>
                            <span class="fst-italic">@(String.Join("; ", item.Value.Errors.Select(x => x.ErrorMessage)))</span>
                        </p>
                        <button type="button" class="btn-close" data-bs-dismiss="alert"></button>
                    </div>
                }
            }
        </div>
    }

    <div class="">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

    <script src="~/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/templatemo-script.js"></script>
    <script src="~/js/jquery-1.11.2.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
