@using BookstoreProjectCore.Models.Books;
@model BooksDetailsViewModel

@{
    /*
<h2>@Model.Title</h2>

<div>
    <img src="@Model.CoverImageUrl" width="300" />
</div>

<p><strong>Author:</strong> @Model.AuthorName</p>
<p><strong>Price:</strong> @Model.Price</p>
<p><strong>Synopsis:</strong></p>
<p>@Model.Synopsis</p>


    
    <a asp-action="Index" class="btn btn-secondary">Back</a> */
}


<div class="container mt-4">

    <nav aria-label="breadcrumb">
        <ol class="breadcrumb">
            <li class="breadcrumb-item">
                <a asp-controller="Home" asp-action="Index">Home</a>
            </li>
            <li class="breadcrumb-item">
                <a asp-controller="Books" asp-action="Index">Books</a>
            </li>
            <li class="breadcrumb-item active" aria-current="page">
                @Model.Title
            </li>
        </ol>
    </nav>

    <div class="row mt-4">

        <div class="col-md-4 text-center">
            <img src="@Model.CoverImageUrl"
                 class="img-fluid rounded shadow book-cover-large"
                 alt="@Model.Title" />
        </div>

        <div class="col-md-8">

            <h1 class="fw-bold">@Model.Title</h1>
            <h5 class="text-muted mb-3">@Model.AuthorName</h5>

            <p><strong>Genre:</strong> @Model.GenreName</p>

            <div class="price-box mt-3 mb-4">
                <span class="book-price-large">
                    @Model.Price €
                </span>
            </div>

            
            <div class="d-flex gap-3 mb-4">
                <a asp-controller="Orders" asp-action="AddToCart"
                   asp-route-id="@Model.Id" 
                   asp-route-bookId =""
                   class="btn btn-danger">
                    Add to Cart
                </a>
            </div>
            
            <div class="d-flex gap-3 mb-4">
                <a asp-action="Index"
                   class="btn btn-outline-dark btn-lg">
                    Back
                </a>
            </div>

        </div>
    </div>

    <div class="mt-5">

        <ul class="nav nav-tabs" id="bookTabs" role="tablist">
            <li class="nav-item">
                <button class="nav-link active"
                        data-bs-toggle="tab"
                        data-bs-target="#description">
                    Description
                </button>
            </li>
            <li class="nav-item">
                <button class="nav-link"
                        data-bs-toggle="tab"
                        data-bs-target="#reviews">
                    Reviews
                </button>
            </li>
        </ul>

        <div class="tab-content p-4 border border-top-0">

            <div class="tab-pane fade show active" id="description">
                <p>@Model.Synopsis</p>
            </div>

            <div class="tab-pane fade" id="reviews">
                @if (!Model.Reviews.Any())
                {
                    <p>No reviews yet.</p>
                }
                else
                {
                    @foreach (var review in Model.Reviews)
                    {
                        <div class="review-box">
                            <div class="review-content">
                                <p>@review.Text</p>
                            </div>
                            <div class="review-by">
                                <span class="review-user"> Reviewed by
                                        @if(review.IsAnonymous == false)
                                        {
                                            <b>@review.Username</b>
                                        }
                                        else 
                                        {
                                            <b>anonymous</b>
                                        }
                                </span>
                            </div>
                            <span class="review-date">On @review.CreatedOn.ToString("dd MMM yyyy")</span>

                            @if (User.IsInRole("Admin"))
                            {
                                <a asp-controller="Reviews" asp-action="Delete" method="get" asp-route-id="@review.Id"
                                   class="btn btn-danger">Delete this review</a>
                            }
                        </div>
                    }
                }

                @if (User?.Identity?.IsAuthenticated ?? false && User.IsInRole("Client"))
                {
                    <form asp-controller="Reviews" asp-action="Create" method="post" class="review-form">
                        <input type="hidden" name="BookId" value="@Model.Id" />

                        <h4 class="review-title">Your turn! Write your own review</h4>

                        <div class="form-group">
                            <label class="review-label">Your opinion</label>
                            <textarea name="Text" class="form-control review-textarea" required></textarea>
                        </div>

                        <div class="form-check review-anonymous">
                            <input class="form-check-input" type="checkbox" id="anonymousCheck" name="IsAnonymous" />
                            <label class="form-check-label" for="anonymousCheck">
                                I would like to stay anonymous
                            </label>
                        </div>

                        <button type="submit" class="btn btn-dark review-btn">Send review</button>
                    </form>
                }
                else
                {
                    <p>Please log in to leave a review.</p>
                }
            </div>

        </div>

    </div>

  

</div>
